* {
  margin:0;
  padding:0;
}
html {
  min-height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-family: 'Karla', sans-serif !important;
}
h1 {
  font-family: 'Karla', sans-serif !important;
  letter-spacing: -0.05em;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
#landing-body h2 {
  letter-spacing: -0.05em;
}
#landing-header {
  padding-top: 32px;
  font-family: 'Karla', sans-serif !important;
}
#landing-ul {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing-ul li:nth-child(1) {
  margin-right: auto;
}
#landing-ul li:last-child {
  margin-right: 92px;
}
#landing-ul li:nth-child(2) {
  margin-right: 56px;
}
#landing-header h1 {
  font-weight: 700;
  font-size: 32px;
}
#welcome-grid {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#welcome-text {
  margin-top: 128px;
}
#welcome-text h2 {
  font-family: 'Karla', sans-serif !important;
  font-size: 64px;
  max-width: 420px;
}
#welcome-buttons {
  margin-top: 32px;
}
.outlined-button {
  font-family: 'Karla', sans-serif !important;
  padding: 8px;
  color: #747474;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #747474;
  margin-right: 24px;
  transition: all 0.2s;
}
.outlined-button:hover {
  background: rgba(116,116,116,0.33);
}
.blue-button {
  font-family: 'Karla', sans-serif !important;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  background: #2962ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.blue-button:hover {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
  background: #0039cb;
}

#howto {
  margin-top: 192px;
}
#howto-text h3 {
  text-align: center;
  font-family: 'Karla',sans-serif !important;
  font-size: 40px;
}
#howto-media {
  font-family: 'Karla', sans-serif !important;
  text-align: center;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  margin-left:auto;
  margin-right: auto;
}
.howto-steps {
  width: 128px;
}
.howto-steps:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}
.howto-steps img {
  margin-bottom: 24px;
}
#trust {
  text-align: center;
  margin-top: 192px;
  margin-bottom: 192px;
  font-family: 'Karla', sans-serif !important;
}
#trust h3 {
  font-size: 40px;
  margin-bottom: 24px;
}
#trust p {
  margin-bottom: 56px;
}
#sources {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
#sources p {
  margin: 16px 56px;
  color: #bdbdbd;
  font-family: 'PT Serif', serif !important;
  font-size: 24px;
}
.footer {
  background-color: #bdbdbd;
  color: #747474;
  font-family: 'Karla',sans-serif !important;
  overflow: none;
  display: block;
  width: 100%;
  height: 128px;
  position: absolute;
  bottom: 0;
}
.footer a {
  color: #747474;
}
.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 960px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
#footer-info {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  text-align: center;
}
.footer-container ul {
  list-style: none;
}
.footer-container ul li {
  margin-bottom: 12px;
}
.footer-container > li:last-child {
  font-size: 32px;
  font-weight: 700;
}
#signup-main {
  font-family: 'Karla', sans-serif !important;
}
#signup-body h1, h2 {
  letter-spacing: -0.05em;
}
#signup-header {
  padding-top: 32px;
  font-family: 'Karla', sans-serif !important;
}
#signup-ul {
  list-style: none;
  display: flex;
}
#signup-header h1 {
  font-weight: 700;
  font-size: 32px;
}
#personalize {
  margin-top: 72px;
  text-align: center;
}
#personalize h2 {
  font-size: 40px;
  margin-bottom: 24px;
}
#signup-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}
label[for=name-input] {
  margin-right: 8px;
}
#name-input {
  outline: none;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  background: #f5f5f5;
  padding: 8px;
}
#categories-cont {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 48px;
  margin-left: auto;
  margin-right: auto;
}
.checkbox {
  display: none;
}
.box {
  text-align: center;
  padding: 16px 16px;
  border-radius: 8px;
  box-shadow: 0px 6px 6px 0 rgba(0,0,0,0.16);
  background-color: #f5f5f5;

}
.checkbox:checked + .box {
  background-color: #2962ff;
  color: white;
  box-shadow: none;
  transition: all 0.25s;
}
.buttonend {
  margin-top: 88px;
}
#continue-button {

  transition: none;
  border-radius: 100px;
  padding: 8px;
}
#continue-button:hover {
  transition: all 0.25s;
}
.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-icons.md-36 {
  font-size: 36px;  /* Preferred icon size */
}
.material-icons.md-18 {
  font-size: 18px;
}
#nav {
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin-top: 32px;
  height: 72px;
}
#nav li h1 {
  line-height: 1;
}
#nav li:nth-child(2) {
  margin-right: auto;
  margin-left: 40px;
}
.article-center {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#article {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#article-text {
  padding: 32px;
  margin-left: -40px;
  background-color: white;
  border-radius: 4px;
  z-index: 120;
}
#headline {
  font-size: 48px;
  font-family: 'Karla', sans-serif !important;
}
#description {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: 'PT Serif', serif !important;
}
#article-text a {
  margin-top: 16px;
  background: #2962ff;
  padding: 2px 6px 6px 6px;
  border-radius: 4px;
  color: white;
  font-family: 'Karla', sans-serif !important;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.3);
}
#article-text a:hover {
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.4);
  background: #0039cb;
  transition: all 0.2s;
}
#article-text span {
  vertical-align: middle;
}
#article-text i {
  color: white;
  vertical-align: middle;
  margin-right: 4px;
}
.article-img-cont {
  position: relative;
  height: 400px;
}
#article-img {
  filter: grayscale(100%);
  z-index: -100;
  height: 100%;
  width: auto;
}
.article-img-cont span {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: rgba(41, 98, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
}
#next-article {
  font-family: 'Karla', sans-serif !important;
  padding: 8px;
  color: #747474;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #747474;
  transition: all 0.2s;
}
#next-article:hover {
  background: rgba(116,116,116,0.33);
}
#next {
  display: block;
  margin-top: 92px;
  padding-bottom: 56px;
  text-align: center;
  font-family: 'Karla', sans-serif !important;
}
#sidebar {
  width: 300px;
  position: absolute;
  left: -300px;
  top: 0;
  height: 100vh;
  background-color: white;
  z-index: 125;
  transition: all 0.5s;
}
#sidebar ul {
  list-style: none;
  margin-top: 192px;
  margin-left: 56px;
  font-family: 'Karla', sans-serif !important;
}
#sidebar li {
  margin-top: 16px;
  font-size-adjust: 18px;
}
#sidebar li:nth-child(3) {
  margin-top: 72px;
  cursor: pointer;
}
#closebutton {
  position: absolute;
  cursor: pointer;
  top: 56px;
  left: 56px;
}
#menubutton {
  cursor: pointer;
  user-select: none;
}
#whitefill {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Karla', sans-serif !important;
}
#article-html {
  height: 100%;
}
#about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  margin-bottom: 56px;
}
#about-text {
  margin-left: 96px;
  min-width: 500px;
}
#about-img {
  min-width: 300px;
  height: auto;
}
#about-img img {
  width: 100%;
  height: auto;
}
#about-grid h2 {
  font-family: 'Karla', sans-serif !important;
  font-size: 56px;
  margin-bottom: 32px;
}
#about-body {
  padding-bottom: 128px;
}
#contact-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  margin-bottom: 56px;
}
#contact-text {
  margin-left: 96px;
}
#contact-text p {
  margin-top: 16px;
}
#contact-img {
  min-width: 300px;
  max-width: 450px;
  height: auto;
}
#contact-img img {
  width: 100%;
  height: auto;
}
#contact-grid h2 {
  font-family: 'Karla', sans-serif !important;
  font-size: 56px;
  margin-bottom: 32px;
}
#contact-body {
  padding-bottom: 128px;
}
@media screen and (max-width: 1600px) {

  #about-grid {
    margin-top: 56px;
  }
  #contact-grid {
    margin-top: 56px;
  }
  .article-center {
    margin-top: 56px;
  }
  #headline {
    font-size: 32px;
  }
  .article-img-cont {
    height: 300px;
  }
  #article-img {
    height: 100%;
    width: auto;
  }
  #contact-grid img {
    width: 80%;
    height: auto;
  }
  #about-body {
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 1100px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
  #welcome-grid, #howto-media {
    flex-direction: column;
  }
  #howto-media {
    width: 320px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  #welcome-text {
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #landing-body h3 {
    font-size: 32px;
  }
  #welcome-text h2 {
    font-size: 48px;
  }
  #welcome-img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
  }
  #welcome-img img {
    width: 100%;
    height: auto;
  }
  .howto-steps {
    width: 128px;
    margin-bottom: 32px;
  }
  .howto-steps:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .howto-steps img {
    margin-bottom: 16px;
  }
  #landing-body {
    padding-bottom: 96px;
  }
  #trust {
    margin-top: 96px;
  }
  #sources {
    flex-direction: column;
    align-items:center;
  }
  #sources p {
    font-size: 16px;
    margin: 8px 36px;
  }
  #article-text {
    margin-left: 0;
  }
  .article-img-cont {
    height: 400px;
  }
  #about-text {
    min-width: 100px;
    width: 320px;
  }
  #article {
    flex-direction: column;
  }
  #about-body, #contact-body {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 496px;
  }
  #welcome-text {
    margin-top: 64px;
  }
  #howto-media {
    width: 296px;
    margin-left: auto;
    margin-right: auto;
  }
  #about-grid, #contact-grid {
    flex-direction: column;
  }
  #contact-grid {
    align-items: flex-start;
    margin-left: 12px;
  }
  #contact-text {
    margin-left: 0;
  }
  #about-text {
    margin-left: 0px;
    min-width: 100px;
    width: 320px;
  }
  #about-img {
    min-width: 100px;
    width: 320px;
    height: auto;
  }
  #categories-cont {
    grid-template-columns: 1fr 1fr;
  }
  #personalize h2 {
    font-size: 32px;
  }
  .buttonend {
    padding-bottom: 56px;
  }
  .footer {
    display: block;
    width: 100%;
    height: 192px;
    position: absolute;
    bottom: 0;
  }
  .footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  #footer-info {
    max-width: 500px;
    margin-bottom: 16px;
  }
  .footer-container ul {
    margin-top: 12px;
    list-style: none;
  }
  .footer-container ul li {
    text-align: center;
  }
  .footer-container > li:last-child {
    font-size: 18px;
    font-weight: 700;
  }
  #nav li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  #landing-ul li:last-child {
    margin-right: 12px;
  }
  #landing-ul li:first-child {
    margin-left: 12px;
  }
  #landing-ul li:nth-child(2) {
    margin-right: 16px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    width: 296px;
    margin: 0 auto;
  }
  #welcome-img {
    width: 296px;
  }
  #howto {
    margin-top: 96px;
  }
  #about-grid {
    flex-direction: column;
  }
  #footer-info {
    max-width: 224px;
    margin-bottom: 16px;
  }
  .footer {
    height: 208px;
  }
  #contact-body, #about-body {
    padding-bottom: 224px;
  }
  #about-text {
    margin-left: 0px;
    min-width: 100px;
    width: 224px;
  }
  #about-img {
    min-width: 100px;
    width: 224px;
    height: auto;
  }
  #article-text {
    padding: 8px;
  }
  .article-img-cont {
    height: 200px;
  }
  #headline {
    font-size: 32px;
  }
  #article-img {
    height: 100%;
    width: auto;
  }
  .article-center {
    margin-top: 16px;
  }
  #next {
    margin-top: 48px;
  }
}
}
